<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System CRM</title>
 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/fullcalendar.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body id="reportsPage">
    <div id="app">
        <div class="" id="home">

            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-xl navbar-light bg-light">
                            <a class="navbar-brand" href="#">
                                <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                                <h1 class="tm-site-title mb-0">System CRM</h1>
                            </a>
                            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <p class="nav-link my-btn" :class="{ active: usersPage }" @click="getUsers">Users</p>
                                    </li>
                          

                                    <li class="nav-item">
                                        <p class="nav-link my-btn" :class="{ active: tokenPage }" @click="getToken">Token</p>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <p class="nav-link dropdown-toggle my-btn" @click="getSettings" :class="{ active: settingsPage }" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Settings
                                        </p>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Profile</a>
                                            <a class="dropdown-item" href="#">Customize</a>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <p class="nav-link d-flex my-btn bg-danger" style="color:white;border-radius:10px" @click="logout">
                                            <i class="far fa-user mr-2 tm-logout-icon"></i>
                                            <span>Logout</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- row -->

              
                <div class="" v-if="usersPage">
                    <button class="btn btn-success float-right" @click="">Add User</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                        
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in usersData" :key="user.id">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                        
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="" style="word-wrap: break-word;" v-if="tokenPage">


                    <div class="card text-center">
                        <div class="card-body">
                            <b>Username : </b>{{ this.username }}
                        </div>
                        <div class="card-body">
                            <b>Token : </b>{{ this.token }}
                        </div>
                    </div>


                </div>
                <footer class="row tm-mt-small">
                    <div class="col-12 font-weight-light">
                        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        
                        </p>
                    </div>
                </footer>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
 
        const app = Vue.createApp({

            
  
        data(){
            return{
                usersData: '',
                token: '',
                username: '',
                usersPage: false,
                tokenPage: false,
                settingsPage: false,
            }
        },
        methods: {
            async getUsers() {

                console.log(this.token);
                let config = {
                    method: 'get',
                    maxBodyLength: Infinity,
                    url: 'http://localhost:8085/api/v1/user/users',
                    headers: { 
                        'Authorization': this.token
                        }
                    };

                    console.log(config);
                const response = await axios.request(config);
                this.usersData = response.data; 
                // this.users = JSON.stringify(response.data);
                if(response.status == 400) {
                    window.location.href = 'index.html';
                }
                this.usersPage = true;
                this.tokenPage = false;
                this.settingsPage = false;
            },

            async getToken() {

                this.usersPage = false;
                this.tokenPage = true;
                this.settingsPage = false;
            },
            async getSettings() {
 
                this.usersPage = false;
                this.tokenPage = false;
                this.settingsPage = true;
            },

            logout() {
                Cookies.remove(`token_${this.username}`);
                Cookies.remove('username');
                window.location.href = 'index.html';
            },
            
        },


        created() {
            this.username = Cookies.get(`username`);
            this.token = Cookies.get(`token_${this.username}`);
            },
        computed: {
        }
        })


        app.mount('#app')
    </script>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/tooplate-scripts.js"></script>

</body>
</html>

<style>

    .my-btn{
        cursor: pointer;
    }
</style>