vendor
.env


# frontend
frontend/app_crm/node_modules
frontend/app_crm/logs
frontend/app_crm/*.log
frontend/app_crm/npm-debug.log*
frontend/app_crm/yarn-debug.log*
frontend/app_crm/yarn-error.log*
frontend/app_crm/pnpm-debug.log*
frontend/app_crm/lerna-debug.log*

frontend/app_crm/node_modules
frontend/app_crm/.DS_Store
frontend/app_crm/dist
frontend/app_crm/dist-ssr
frontend/app_crm/coverage
frontend/app_crm/*.local

frontend/app_crm/cypress/videos/
frontend/app_crm/cypress/screenshots/

# Editor directories and files
frontend/app_crm/.vscode/*
frontend/app_crm/!.vscode/extensions.json
frontend/app_crm/.idea
frontend/app_crm/*.suo
frontend/app_crm/*.ntvs*
frontend/app_crm/*.njsproj
frontend/app_crm/*.sln
frontend/app_crm/*.sw?

frontend/app_crm/*.tsbuildinfo
